body { margin: 0pt; border: 0pt; padding: 0pt; font-size: 12pt; font-family: sans-serif; }
form { margin: 0pt; border: 0pt; padding: 0pt; font-size: 12pt; font-family: sans-serif; }
table { margin: 0pt; border-left: 1pt solid black; border-top: 1pt solid black; border-right: 0pt; border-bottom: 0pt; padding: 0pt; font-size: 12pt; font-family: sans-serif; }
table tr { margin: 0pt; border: 0pt; padding: 0pt; }
table tr td { margin: 0pt; border-left: 0pt; border-top: 0pt; border-right: 1pt solid black; border-bottom: 1pt solid black; padding: 0pt; font-size: 12pt; font-family: sans-serif; }
table tr th { margin: 0pt; border-left: 0pt; border-top: 0pt; border-right: 1pt solid black; border-bottom: 1pt solid black; padding: 0pt; font-size: 12pt; font-family: sans-serif; }
div { padding: 1pt; border: 1pt solid black; margin: 1pt }
div.inline { display: inline-block; }
div.d1 {background-color: rgb(192,192,192);} 
h1 { text-align: center; font-family: "Lucida handwriting", cursive; font-size: 16pt; padding: 1pt; border: 1pt solid black; margin: 1pt }
div.outlined { padding: 1pt; border: 1pt solid black; margin: 1pt }
canvas.outlined { padding: 1pt; border: 1pt solid black; margin: 1pt }
img.outlined { padding: 1pt; border: 1pt solid black; margin: 1pt }
span.outlined { padding: 1pt; border: 1pt solid black; margin: 1pt }
